nav.navbar.navbar-expand-sm.bg-dark.navbar-dark
  a.navbar-brand(href='/') 仲吉后台
  ul.navbar-nav 
    li.nav-item 
      a.nav-need-login.nav-link#nav-webapi(href='/webapi') Web API
    li.nav-item 
      a.nav-need-login.nav-link#nav-question(href='/question') 心理问答
    li.nav-item 
      a.nav-need-login.nav-link#nav-apply(href='/application') 专家号申请
    li.nav-item 
      a.nav-need-login.nav-link#nav-manage(href='/management') 人员管理
    li.nav-item.dropdown
      a.nav-link(href='#', data-toggle='dropdown') 用户信息
      .dropdown-menu 
        .drop-current-user.dropdown-item 当前用户: 游客
        a.drop-login.dropdown-item(href='/login') 管理员登录
        .drop-logout.dropdown-item(href='/') 退出登录