nav.navbar.navbar-expand-sm.bg-dark.navbar-dark
  a.navbar-brand(href='/') 仲吉后台
  ul.navbar-nav 
    li.nav-item 
      a.nav-link(href='#') Web API
    li.nav-item 
      a.nav-link(href='#') 心理问答
    li.nav-item 
      a.nav-link(href='/application') 专家号申请
    li.nav-item 
      a.nav-link(href='#') 人员管理
    li.nav-item.dropdown
      a.nav-link(href='#', data-toggle='dropdown') 用户信息
      .dropdown-menu 
        a.dropdown-item(href='#') 当前用户: 游客
        a.dropdown-item(href='/login') 管理员登录